In [7]:
!pip install metpy

Requirement already satisfied: metpy in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (1.6.2)
Requirement already satisfied: matplotlib>=3.5.0 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from metpy) (3.8.2)
Requirement already satisfied: numpy>=1.20.0 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from metpy) (1.26.2)
Requirement already satisfied: pandas>=1.4.0 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from metpy) (2.1.3)
Requirement already satisfied: pint>=0.17 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from metpy) (0.23)
Requirement already satisfied: pooch>=1.2.0 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from metpy) (1.8.1)
Requirement already satisfied: pyproj>=3.0.0 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from metpy) (3.6.1)
Requirement already satisfied: scipy>=1.8.0 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from metpy) (1.11.3)
Requirement already satisfied: traitlets>=5.0.5 in c:\users\pedro\appdata\roaming\python\python311\site-packages (from metpy) (5.13.0)
Requirement already satisfied: xarray>=0.21.0 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from metpy) (2024.3.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.5.0->metpy) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.5.0->metpy) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.5.0->metpy) (4.44.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.5.0->metpy) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.5.0->metpy) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.5.0->metpy) (9.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.5.0->metpy) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib>=3.5.0->metpy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.4.0->metpy) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.4.0->metpy) (2023.3)
Requirement already satisfied: typing-extensions in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from pint>=0.17->metpy) (4.4.0)
Requirement already satisfied: platformdirs>=2.5.0 in c:\users\pedro\appdata\roaming\python\python311\site-packages (from pooch>=1.2.0->metpy) (4.0.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from pooch>=1.2.0->metpy) (2.28.1)
Requirement already satisfied: certifi in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from pyproj>=3.0.0->metpy) (2024.2.2)
Requirement already satisfied: six>=1.5 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.5.0->metpy) (1.16.0)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.19.0->pooch>=1.2.0->metpy) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.19.0->pooch>=1.2.0->metpy) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\pedro\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.19.0->pooch>=1.2.0->metpy) (1.26.13)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import glob
import pandas as pd
from zipfile import ZipFile
from datetime import datetime
from metpy.io.metar import *

In [2]:
if 'data-science-challenge-at-eef-2024.zip' not in glob.glob('*'):
    !kaggle competitions download -c data-science-challenge-at-eef-2024

    with ZipFile('data-science-challenge-at-eef-2024.zip') as zip:
        zip.extractall()

In [3]:
df = pd.read_csv('public.csv')
df.head()

,flightid,hora_ref,origem,destino,url_img_satelite,metaf,metar,prev_troca_cabeceira,troca_cabeceira_hora_anterior,espera
0,504a62621cd231d6ab67e674ce538cd3,2022-06-01T01:00:00Z,SBCF,SBFL,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBFL 010000Z 17009KT 140V200 9999 BKN030...,0,1,0.0
1,b0fd0f83644625ecc21f5261e8e5e347,2022-06-01T01:00:00Z,SBPA,SBFL,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBFL 010000Z 17009KT 140V200 9999 BKN030...,0,1,0.0
2,1210f0ca07ddca00d09a3e02d3b100d8,2022-06-01T01:00:00Z,SBSP,SBCF,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBCF 010000Z 12006KT CAVOK 21/14 Q1018=,0,0,0.0
3,b25032f34507cce285ee779446496568,2022-06-01T01:00:00Z,SBGR,SBCT,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBCT 010000Z 10006KT 7000 -RA BKN004 OVC...,0,0,0.0
4,00762a9892ecba7c66d1d87800d38cac,2022-06-01T01:00:00Z,SBSP,SBSV,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBSV 010000Z 11008KT 9999 FEW023 27/21 Q...,0,1,0.0

In [9]:
def convert_metar(col):
    # print(col)
    metar, date = col
    if None not in [metar, date]:
        date = datetime.strptime(str(date)[:10], '%Y-%m-%d')
        return parse_metar_to_dataframe(metar, year=date.year, month=date.month).values[0]
    
def metar_cols(col):
    metar, date = col
    if None not in [metar, date]:
        date = datetime.strptime(str(date)[:10], '%Y-%m-%d')
        return parse_metar_to_dataframe(metar, year=date.year, month=date.month).columns

In [125]:
metar = df[['metar', 'hora_ref']].loc[~df['metar'].isna()]
metar_data = metar.apply(convert_metar, axis=1).tolist()
df_metar = pd.DataFrame(metar_data)
df_metar.columns = metar_cols(metar.iloc[0])
df_metar

  station_id  latitude  ...  eastward_wind  northward_wind
0       SBFL    -27.67  ...      -1.562834        8.863270
1       SBFL    -27.67  ...      -1.562834        8.863270
2       SBCF    -19.63  ...      -5.196152        3.000000
3       SBCT    -25.52  ...      -5.908847        1.041889
4       SBSV    -12.90  ...      -7.517541        2.736161
5       SBPA    -30.00  ...            NaN             NaN
6       SBBR    -15.87  ...      -1.879385       -0.684040
7       SBGR    -23.42  ...      -3.830222        3.213938
8       SBPA    -30.00  ...            NaN             NaN
9       SBGR    -23.42  ...      -3.830222        3.213938

[10 rows x 31 columns]

In [ ]:
metaf = df[['metaf', 'hora_ref']].loc[~df['metaf'].isna()]
metaf_data = metaf.apply(convert_metar, axis=1).tolist()
df_metaf = pd.DataFrame(metaf_data)
df_metaf.columns = metar_cols(metaf.iloc[0])
df_metar